<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Quản trị</title>

<!-- Bootstrap -->
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet"></link>
<link href="../static/css/touroperator_style.css"
	th:href="@{/css/touroperator_style.css}" rel="stylesheet"></link>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="header">

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div>
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<img src="../static/image/logo.png" th:src="@{/image/logo.png}"></img>
				</div>
				<div class="container">

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/home}">Trang chủ</a></li>
							<li><a href="#">Địa điểm</a></li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Trợ giúp</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"><b
									th:text="${admin.fullname}"></b><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Trợ giúp</a></li>
									<li><a href="#">Cài đặt</a></li>
									<li class="divider"></li>
									<li><a th:href="@{/logout}" onclick="return confirm('Bạn muốn thoát?')">Đăng xuất</a></li>

								</ul></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</div>
		</nav>
	</div>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3 sidebar">


					<img src="../static/image/hero_1.jpg" th:src="@{/image/hero_1.jpg}"></img>
					<h4 class="text-center">
						<b th:text="${admin.fullname}"></b>
					</h4>
					<ul class="nav nav-pills nav-stacked nav-tabs">
						<li><a> Thông tin cá nhân </a></li> 
						<li> <a th:href="@{/admin}"> Kiểm duyệt thông tin</a></li>
						<li class="active dropdown"><a> Quản lý thông tin </a>
							<ul class="nav nav-pills nav-stacked nav-tabs">
								<li><a th:href="@{/admin/manageTour}">Quản lý Tour</a></li>
								<li><a th:href="@{/admin/manageGuide}">Quản lý HDV</a></li>
								<li style="background-color:LightGray;"><a>Quản lý công ty lữ hành</a></li>
								
							</ul>

						</li> 
						<!-- <li><a href="#">Cài đặt</a></li> -->
					</ul>
					<!-- Modal -->
				</div>


				<div class="col-md-9">
					<!--tab-pane-sidebar-->

				<table class="table">
					<p style="color: red" th:text="${messageError}"></p>
						<thead>
							<tr>
								<th style="text-align: center;">Mã công ty</th>
								<th style="text-align: center;">Tài khoản</th>
								<th style="text-align: center;">Tên công ty</th>
								<th style="text-align: center;">Mã số thuế</th>
								<th style="text-align: center;">Mã số kinh doanh</th>
								<th style="text-align: center;">Chức năng</th>
								
							</tr>
						</thead>
						<tr>
							<form th:action="@{/admin/manageOperator}" th:method="GET">
								<td><input style="width: 100%" type="text" th:value="${operatorId}" name="operatorId" /></td>
								<td><input style="width: 100%" type="text" th:value="${username}" name="username" /></td>
								<td><input style="width: 100%" type="text" th:value="${fullname}" name="fullname" /></td>
								<td><input style="width: 100%" type="text" th:value="${taxCode}" name="taxCode" /></td>
								<td><input style="width: 100%" type="text" th:value="${businessRegistrationCode}" name="businessRegistrationCode" /></td>
								<td><button type="submit" class="btn btn-success" hidden="true">Tìm kiếm</button></td>
								
							</form>
						</tr>
						<th:block th:unless="${#lists.isEmpty(operatorlist)}" role="tabpanel">
							<tbody th:each="operator,iterStat : ${operatorlist}">
								<tr data-toggle="collapse" th:attr="data-target='#u'+${operator.id}" 
									class="clickable">
									<td th:text="${operator.id}"></td>
									<td th:text="${operator.user.username}"></td>
									<td th:text="${operator.companyNameViet}"></td>
									<td th:text="${operator.taxCode}"></td>
									<td th:text="${operator.businessRegistrationCode}"></td>
									<!-- <td th:if="${operator.user.address}"></td> -->
									<td>
										<button type="button" class="btn btn-primary"  th:onclick="|window.open('@{/operator/detailOperator/(operatorId=${operator.id})}','_blank')|">Chi tiết</button>
									</td>
									<td><span class="glyphicon glyphicon-chevron-down"></span></td>

								</tr>
								<tr>
									<td colspan="7" id="row-collapse">
										<div th:id="'u'+${operator.id}" class="collapse tour-detail">
											<!-- Nav tabs -->
											<ul class="nav nav-tabs" role="tablist">
												<li role="presentation" class="active"><a
													th:attr="href='#t'+${operator.id}" aria-controls="home"
													role="tab" data-toggle="tab">Thông tin công ty lữ hành</a>
												</li>
											</ul>

											<!-- Tab panes thong tin cty -->
											<div class="tab-content">
												<div role="tabpanel" class="tab-pane fade in active"
													th:attr="id='t'+${operator.id}">
													<fieldset disabled="disabled">
													<div class="form-tour">
														<form class="form-horizontal"
															th:attr="action='/operator/update/'+${operator.id}"
															th:method="POST">
															<div class="form-group">
																<label class="control-label col-sm-2"> Tên cty:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${operator.companyNameViet}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Tên người đại diện:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${operator.representative}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Tài khoản:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																	th:value = "${operator.user.username}"
																	></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Địa chỉ:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																	th:value = "${operator.user.address}"
																	></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Người đăng kí:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																	th:value = "${operator.user.fullname}"
																	></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Email:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${operator.user.email}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Số điện thoại:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${operator.user.phonenumber}"></input>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-sm-2"> Mã kinh doanh: </label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${operator.businessRegistrationCode}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Mã số thuế:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${operator.taxCode}"></input>
																</div>
															</div>
															
															
														</form>
													</div>
													</fieldset>
												</div>
											</div>
										</div>
									</td>
								</tr>

							</tbody>
						</th:block>
					</table>
			<!-- paging -->
					<div class="row">
						<div class="form-group col-md-1 hidden">
							<select class="form-control pagination" id="pageSizeSelect">
								<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
								th:value="${pageSize}"
								th:selected="${pageSize} == ${selectedPageSize}"></option>
							</select>
						</div>
						<div th:if="${operatorlist.totalPages > 1}"
							class="form-group col-md-11 pagination-centered">
							<ul class="pagination">
								<li th:class="${operatorlist.number == 0} ? disabled"><a
									class="pageLink"
									th:href="@{/admin/manageGuide/(fullname=${fullname}, operatorId=${operatorId},username=${username},taxCode=${taxCode},businessRegistrationCode=${businessRegistrationCode}, pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
								</li>
								<li th:class="${operatorlist.number == 0} ? disabled"><a
									class="pageLink"
									th:href="@{/admin/manageGuide/(fullname=${fullname}, operatorId=${operatorId},username=${username},taxCode=${taxCode},businessRegistrationCode=${businessRegistrationCode}, pageSize=${selectedPageSize}, page=${operatorlist.number})}">&larr;</a>
								</li>
								<li
								th:class="${operatorlist.number == (page - 1)} ? 'active pointer-disabled'"
								th:each="page : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
								<a class="pageLink"
								th:href="@{/admin/manageGuide/(fullname=${fullname}, operatorId=${operatorId},username=${username},taxCode=${taxCode},businessRegistrationCode=${businessRegistrationCode}, pageSize=${selectedPageSize}, page=${page})}"
								th:text="${page}"></a>
								</li>
								<li
								th:class="${operatorlist.number + 1 == operatorlist.totalPages} ? disabled">
								<a class="pageLink"
								th:href="@{/admin/manageGuide/(fullname=${fullname}, operatorId=${operatorId},username=${username},taxCode=${taxCode},businessRegistrationCode=${businessRegistrationCode}, pageSize=${selectedPageSize}, page=${operatorlist.number + 2})}">&rarr;</a>
								</li>
								<li
								th:class="${operatorlist.number + 1 == operatorlist.totalPages} ? disabled">
								<a class="pageLink"
								th:href="@{/admin/manageGuide/(fullname=${fullname}, operatorId=${operatorId},username=${username},taxCode=${taxCode},businessRegistrationCode=${businessRegistrationCode}, pageSize=${selectedPageSize}, page=${operatorlist.totalPages})}">&raquo;</a>
								</li>
							</ul>
						</div>
					</div>
			<!-- end -->

				</div>
			</div>

		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/admin-checkOperator.js" th:src="@{/js/admin-checkOperator.js}"></script>
</body>
</html>