<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Quản trị</title>

	<!-- Bootstrap -->
	<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
	<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet"></link>
	<link href="../static/css/verticalTabList.css"
          th:href="@{/css/verticalTabList.css}" rel="stylesheet"></link>
	<link href="../static/css/touroperator_style.css"
	th:href="@{/css/touroperator_style.css}" rel="stylesheet"></link>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
	<div id="header">

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div>
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
				</button>
				<img src="../static/image/logo.png" th:src="@{/image/logo.png}"></img>
			</div>
			<div class="container">

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav ">
						<li><a th:href="@{/home}">Trang chủ</a></li>
						<li><a href="#">Địa điểm</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Trợ giúp</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"><b
							th:text="${admin.fullname}"></b><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Trợ giúp</a></li>
								<li><a href="#">Cài đặt</a></li>
								<li class="divider"></li>
								<li><a th:href="@{/logout}" onclick="return confirm('Bạn muốn thoát?')">Đăng xuất</a></li>

							</ul></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</div>
		</nav>
	</div>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3 sidebar tab">

                <button class="tablinks" th:onclick="|window.open('@{/operator/detailOperator/(operatorId=${operatorId})}','_self')|">Thông tin công ty</button>
                <button class="tablinks active"  id="defaultOpen"  >Thông tin tour</button>

           		</div>


				<div class="col-md-9">
					<!--tab-pane-sidebar-->
					<h3 class="text-center">Danh sách tour của công ty</h3>
					<table class="table">
						<p style="color: red" th:text="${messageError}"></p>
						<thead>
							<tr>
								<th style="text-align: center;">Mã tour</th>
								<th style="text-align: center;">Tên tour</th>
								<th style="text-align: center;">Ngày khởi hành</th>
								<!-- <th>Ngày kết thúc</th> -->
								<th style="text-align: center;">Trạng thái</th>
								<th style="text-align: center;">Giá</th>
								<th style="text-align: center;">Chức năng</th>
								
							</tr>
						</thead>
						<tr>
							<form th:action="@{/admin/tourInOperator}" th:method="GET">
								<input class="hidden" style="width: 100%" type="text" th:value="${operatorId}" name="operatorId" />
								<td><input style="width: 100%" type="text" th:value="${idTour}" name="idTour" /></td>
								<td><input style="width: 100%" type="text" th:value="${tourname}" name="tourname" /></td>
								<td><input style="width: 100%" type="text" th:value="${startDate}" name="startDate" /></td>
								<td><input style="width: 100%" type="text" th:value="${status}" name="status" /></td>
								<td><input style="width: 100%" type="text" th:value="${tourprice}" name="tourprice" /></td>
								<td><button type="submit" class="btn btn-success" hidden="true">Tìm kiếm</button></td>
								
							</form>
						</tr>
						<th:block th:unless="${#lists.isEmpty(listTour)}" role="tabpanel">
						<tbody th:each="tour,iterStat : ${listTour}">
							<tr data-toggle="collapse" th:attr="data-target='#u'+${tour.id}" 
							class="clickable">
								<td th:text="${tour.id}"></td>
								<td th:text="${tour.tourName}"></td>
								<td th:text="${#dates.format(tour.startDate, 'dd-MM-yyyy')}"></td>
								<!-- <td th:text="${tour.status}"></td> -->
								<!-- <td th:text="${#dates.format(tour.endDate, 'dd-MM-yyyy')}"></td> -->
								<th:block th:if="${tour.status == 0}">
									<td value="Đang chờ">Đang chờ</td>
								</th:block>
								<th:block th:if="${tour.status == 2}">
									<td text="Đang chạy">Đang chạy</td>
								</th:block>
								<th:block th:if="${tour.status == -1}">
									<td text="Đã hủy">Đã hủy</td>
								</th:block>
								<th:block th:if="${tour.status == 1}">
									<td text="Đã hoàn thành">Đã hoàn thành</td>
								</th:block>
								<th:block th:if="${tour.tourPrice != null}">
									<td th:text="${tour.tourPrice}+' VNĐ'"></td>
								</th:block>
								<th:block th:if="${tour.tourPrice == null}">
									<td>0</td>
								</th:block>
								<td th:text= "${tour.id}" class="hidden"></td>
								<td>
									<button type="button" class="btn btn-primary detailTour" 
									th:onclick="|window.open('@{/tour/detailTour/(tourId=${tour.id})}','_blank')|" >Chi tiết</button>
								</td>
	<!-- <td th:text= "${tour.id}" class="hidden"></td> -->
									<!-- <td>
										<button type="button" class="btn btn-primary runningTour">Đồng ý</button>
									</td> -->
								<td><span class="glyphicon glyphicon-chevron-down"></span></td>

							</tr>
							<tr>
								<td colspan="7" id="row-collapse">
									<div th:id="'u'+${tour.id}" class="collapse tour-detail">
										<!-- Nav tabs -->
										<ul class="nav nav-tabs" role="tablist">
											<li role="presentation" class="active"><a
												th:attr="href='#t'+${tour.id}" aria-controls="home"
												role="tab" data-toggle="tab">Thông tin tour</a>
											</li>
										</ul>

										<!-- Tab panes thong tin tour -->
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane fade in active"
											th:attr="id='t'+${tour.id}">
											<div class="form-tour">
												<fieldset disabled="true">
													<form class="form-horizontal">
														<div class="form-group">
															<label class="control-label col-sm-2"> Tên tour:</label>
															<div class="col-sm-8">
																<input type="text" class="form-control" name="tourname"
																th:attr="value=${tour.tourName}"></input>
															</div>
														</div>
														<div class="form-group disabled" >
															<label class="control-label col-sm-2"> Tên công ty:</label>
															<div class="col-sm-8">
																<input type="text" class="form-control" name="companyNameViet"
																th:attr="value=${tour.operator.companyNameViet}"></input>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-sm-2">Địa điểm:</label>
															<div class="col-sm-8">
																<p class="form-control-static" ><b th:each="location:${tour.locations} " th:text="${location.locationName}+'- '"></b></p>
															</div>
														</div>
														<!-- <div class="col-sm-offset-3" style="margin-top: -20px;">
															<a class="btn btn-link" role="button" data-toggle="collapse" href="#locations"
															aria-expanded="false" id="changelocation">
															Thay đổi nơi hoạt động?
														</a>

														</div>
														<div class="form-group input_fields_wrap collapse" id="locations">
															<label class="control-label col-sm-3">Địa điểm:</label>
															<div class="col-sm-8 ">
																<select name="location1" class="form-control">
																	<option th:each="location:${listLocation}" th:text="${location.locationName}"></option>
																</select>
															</div>
															<button class="add_field_button btn btn-link">
																<span class="glyphicon glyphicon-plus"></span>
															</button>
														</div> -->


														
														<div class="form-group">
															<label class="control-label col-sm-2">Ngôn ngữ:</label>
															<div class="col-sm-8">
																<input type="text" class="form-control" name="language"
																th:value="${tour.language.language}"></input>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-sm-2">Ngày khởi hành:</label>
															<div class="col-sm-8">
																<input type="text" class="form-control" th:value="${#dates.format(tour.startDate, 'dd-MM-yyyy')}" name="date"></input>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-sm-2">Ngày kết thúc:</label>
															<div class="col-sm-8">
																<input type="text" class="form-control" th:value="${#dates.format(tour.endDate, 'dd-MM-yyyy')}" name="endDate"></input>
															</div>
														</div>
															<!-- <div class="form-group">
																<label class="control-label col-sm-2">Thời gian:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" th:value="${tour.endDate}" name="day"></input>
																</div>
															</div> -->
															<div class="form-group">
																<label class="control-label col-sm-2">Số lượng HDV tối đa:</label>
																<div class="col-sm-2">
																	<input type="number" name="amount" class="form-control"
																	placeholder="" th:value="${tour.amount}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2">Số lượng HDV hiện tại:</label>
																<div class="col-sm-2" disable="true">
																	<input type="number" name="amount" class="form-control"
																	placeholder="" th:value="${tour.amount}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2">Giá:</label>
																<div class="col-sm-8">
																	<input type="number" class="form-control"
																	name="tourPrice" th:attr="value=${tour.tourPrice}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2">Yêu cầu
																khác:</label>
																<div class="col-sm-8">
																	<textarea class="form-control" rows="3" th:text="${tour.requirement}" name="requirement" id="require"></textarea>
																</div>

															</div>
															<!-- <div class="form-group">
																<div th:text= "${tour.id}" class="hidden"></div>
																<div class="col-sm-offset-2 col-sm-8">
																	<button type="submit" class="btn btn-primary updateTour">Cập nhật</button>
																</div>
															</div> -->
														</form>
													</fieldset>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>

							</tbody>
						</th:block>
					</table>
					<!-- paging -->
					<div class="row">
						<div class="form-group col-md-1 hidden">
							<select class="form-control pagination" id="pageSizeSelect">
								<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
								th:value="${pageSize}"
								th:selected="${pageSize} == ${selectedPageSize}"></option>
							</select>
						</div>
						<div th:if="${listTour.totalPages > 1}"
							class="form-group col-md-11 pagination-centered">
							<ul class="pagination">
								<li th:class="${listTour.number == 0} ? disabled"><a
									class="pageLink"
									th:href="@{/admin/tourInOperator/(operatorId=${operatorId}, tourname=${tourname}, idTour=${idTour},startDate=${startDate},status=${status},tourPrice=${tourPrice}, pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
								</li>
								<li th:class="${listTour.number == 0} ? disabled"><a
									class="pageLink"
									th:href="@{/admin/tourInOperator/(operatorId=${operatorId}, tourname=${tourname}, idTour=${idTour},startDate=${startDate},status=${status},tourPrice=${tourPrice}, pageSize=${selectedPageSize}, page=${listTour.number})}">&larr;</a>
								</li>
								<li
								th:class="${listTour.number == (page - 1)} ? 'active pointer-disabled'"
								th:each="page : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
								<a class="pageLink"
								th:href="@{/admin/tourInOperator/(operatorId=${operatorId}, tourname=${tourname}, idTour=${idTour},startDate=${startDate},status=${status},tourPrice=${tourPrice}, pageSize=${selectedPageSize}, page=${page})}"
								th:text="${page}"></a>
							</li>
							<li
							th:class="${listTour.number + 1 == listTour.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/admin/tourInOperator/(operatorId=${operatorId}, tourname=${tourname}, idTour=${idTour},startDate=${startDate},status=${status},tourPrice=${tourPrice}, pageSize=${selectedPageSize}, page=${listTour.number + 2})}">&rarr;</a>
						</li>
						<li
						th:class="${listTour.number + 1 == listTour.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/admin/tourInOperator/(operatorId=${operatorId}, tourname=${tourname}, idTour=${idTour},startDate=${startDate},status=${status},tourPrice=${tourPrice}, pageSize=${selectedPageSize}, page=${listTour.totalPages})}">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/js/jquery-3.2.1.min.js"
th:src="@{/js/jquery-3.2.1.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js"
th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/admin.js" th:src="@{/js/admin.js}"></script>
<script src="../static/js/operator.js" th:src="@{/js/operator.js}"></script>
<script src="../static/js/verticalTabList.js" th:src="@{/js/verticalTabList.js}"></script>
</body>
</html>