<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Quản trị</title>

<!-- Bootstrap -->
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet"></link>
<link href="../static/css/touroperator_style.css"
	th:href="@{/css/touroperator_style.css}" rel="stylesheet"></link>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="header">

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div>
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<img src="../static/image/logo.png" th:src="@{/image/logo.png}"></img>
				</div>
				<div class="container">

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/home}">Trang chủ</a></li>
							<li><a href="#">Địa điểm</a></li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Trợ giúp</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"><b
									th:text="${admin.fullname}"></b><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Trợ giúp</a></li>
									<li><a href="#">Cài đặt</a></li>
									<li class="divider"></li>
									<li><a th:href="@{/logout}" onclick="return confirm('Bạn muốn thoát?')">Đăng xuất</a></li>

								</ul></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</div>
		</nav>
	</div>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3 sidebar">


					<img src="../static/image/hero_1.jpg" th:src="@{/image/hero_1.jpg}"></img>
					<h4 class="text-center">
						<b th:text="${admin.fullname}"></b>
					</h4>
					<ul class="nav nav-pills nav-stacked nav-tabs">
						<li   ><a th:href="@{/admin}">Tour yêu cầu xử lý</a></li>
						
						<li class="active dropdown"><a class="dropdown-toggle"
                                                data-toggle="dropdown">Kiểm duyệt tài khoản</a>
                            <ul class="nav nav-pills nav-stacked nav-tabs">
                             	<li><a th:href="@{/admin/userApproval}">Kiểm duyệt tài khoản HDV</a></li>
								<li  style="background-color:LightGray;"><a >Kiểm duyệt tài khoản công ty lữ hành</a></li>
								
							</ul>
                    	</li>
                    	<li><a href="#">Cài đặt</a></li>
					</ul>
					<!-- Modal -->
				</div>


				<div class="col-md-9">
					<!--tab-pane-sidebar-->

				<table class="table">
					<p style="color: red" th:text="${messageError}"></p>
						<thead>
							<tr>
								<th>Mã HDV</th>
								<th>Tài khoản</th>
								<th>Tên HDV</th>
								<th>Địa chỉ</th>
								<th>Chức năng</th>
								<th></th>
							</tr>
						</thead>
						<th:block th:unless="${#lists.isEmpty(operatorlist)}" role="tabpanel">
							<tbody th:each="tour,iterStat : ${operatorlist}">
								<tr data-toggle="collapse" th:attr="data-target='#u'+${tour.id}" 
									class="clickable">
									<td th:text="${tour.id}"></td>
									<td th:text="${tour.user.username}"></td>
									<td th:text="${tour.companyNameViet}"></td>
									<td th:if="${tour.user.address}"></td>
									<td th:text= "${tour.user.id}" class="hidden"></td>
									<td>
										<button type="button" class="btn btn-primary cancelTourRunning" >Hủy</button>
									</td>
									<td th:text= "${tour.user.id}" class="hidden"></td>
									<td>
										<button type="button" class="btn btn-primary runningTour">Đồng ý</button>
									</td>
									<td><span class="glyphicon glyphicon-chevron-down"></span></td>

								</tr>
								<tr>
									<td colspan="7" id="row-collapse">
										<div th:id="'u'+${tour.id}" class="collapse tour-detail">
											<!-- Nav tabs -->
											<ul class="nav nav-tabs" role="tablist">
												<li role="presentation" class="active"><a
													th:attr="href='#t'+${tour.id}" aria-controls="home"
													role="tab" data-toggle="tab">Thông tin công ty lữ hành</a>
												</li>
											</ul>

											<!-- Tab panes -->
											<div class="tab-content">
												<div role="tabpanel" class="tab-pane fade in active"
													th:attr="id='t'+${tour.id}">
													<div class="form-tour">
														<form class="form-horizontal"
															th:attr="action='/operator/update/'+${tour.id}"
															th:method="POST">
															<div class="form-group">
																<label class="control-label col-sm-2"> Tên cty:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${tour.companyNameViet}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Tên người đại diện:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${tour.representative}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Tài khoản:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																	th:value = "${tour.user.username}"
																	></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Địa chỉ:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																	th:value = "${tour.user.address}"
																	></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Người đăng kí:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																	th:value = "${tour.user.fullname}"
																	></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Email:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${tour.user.email}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Số điện thoại:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${tour.user.phonenumber}"></input>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-sm-2"> Mã kinh doanh: </label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${tour.businessRegistrationCode}"></input>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-sm-2"> Mã số thuế:</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" name="guideName"
																		th:attr="value=${tour.taxCode}"></input>
																</div>
															</div>
															
															
														</form>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>

							</tbody>
						</th:block>
			</table>


				</div>
			</div>

		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/admincheck.js" th:src="@{/js/admincheck.js}"></script>
</body>
</html>