<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Du lịch Quảng Ninh</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
	<div id="header">

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Logo</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#">Giới thiệu</a></li>
						<li class="active"><a href="place.html">Địa điểm</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Đăng nhập</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Đăng ký <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Công ty lữ hành</a></li>
								<li><a href="#">Hướng dẫn viên</a></li>

							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>
	</div>  <!-- header -->

	<main>
		<div id="calltoaction">
			<div class="jumbotron">
				<h1>Places to travel</h1>
			</div>
		</div>
		<div class="container">

			<div class="row">
				<div class="col-md-8">
					<ol class="breadcrumb">
						<li><a href="#">Trang chủ</a></li>
						<li><a href="places.html">Địa Điểm</a></li>
						<li class="active">Du lịch Quảng Ninh</li>
					</ol>
					<article>
						<div id="headline">
							<h2>Top 5 địa điểm du lịch nổi tiếng Quảng Ninh</h2>
						</div>

						<div>
							<p>
								Với những địa điểm nổi tiếng cùng nhiều hoạt động du lịch kỳ thú, Quảng Ninh luôn là sự lựa chọn tuyệt vời cho các bạn yêu du lịch trong nước và quốc tế. Hãy cùng khám phá <strong>10 địa điểm du lịch nổi tiếng Quảng Ninh </strong> ngay sau đây.
							</p>
						</div>
						<div>
							<h4>1. Vịnh Hạ Long</h4>
							<p>
								Điểm du lịch nổi tiếng nhất Quảng Ninh phải kể đến là vịnh Hạ Long. Với diện tích lên tới 1.553 km2 cùng 1969 đảo, khu di sản thế giới được UNESCO công nhận có diện tích trên 434 km2 gồm 788 đảo. Ngoài những giá trị đặc biệt về văn hoá và kinh tế, vịnh Hạ Long còn có nhiều đảo đất, hang động, bãi tắm, nhiều cảnh quan đẹp rất thuận lợi cho phát triển du lịch.
							</p>
							<img src="img/halong1.jpg">
						</div>
						<div>
							<h4>2. Bãi Cháy</h4>
							<p>
								Là một bãi tắm rộng và đẹp nằm ngay sát bờ vịnh Hạ Long với bãi cát dài hơn 500m, rộng 100m. Hàng ngày, vào mỗi buổi sáng sớm hay chiều tà, có đến hàng ngàn người xuống tạo nên một khung cảnh náo nhiệt lạ thường.
							</p>
							<img src="img/baichay.jpg">
						</div>
						<div>
							<h4>3. Núi Yên Tử</h4>
							<p>
								Điểm du lịch Quảng Ninh hấp dẫn không thể bỏ qua đối với du khách chính là Núi Yên Tử, đây là ngọn núi cao nằm trong dãy núi Đông Triều vùng Đông Bắc Việt Nam. Núi Yên Tử vốn là một thắng cảnh thiên nhiên còn lưu giữ nhiều di tích lịch sử được và được mệnh danh là “đất tổ Phật giáo Việt Nam”.
							</p>
							<img src="img/yentu.jpg">
						</div>
						<div>
							<h4>4. Đảo Tuần Châu</h4>
							<p>
								Đảo Tuần Châu có vị trí nằm ở phía Tây Nam của thành phố Hạ Long. Đây là hòn đảo đất có lẫn phiến thạch duy nhất trong 1.969 hòn đảo lớn nhỏ của điểm kết nối vùng Di sản thiên nhiên thế giới Hạ Long. Đảo có diện tích khoảng 400ha và được thiên nhiên ban tặng một điều kiện tự nhiên tuyệt đẹp.
							</p>
							<p>
								Với thảm cát trắng mịn trải dài đến 6km và làn nước biển trong xanh bao bọc hơn 200 ha rừng thông xanh mướt, đảo Tuần Châu còn có khí hậu mát mẻ quanh năm đón gió biển thổi vào. Du khách khi đến đây sẽ bị thu hút bởi vẻ đẹp thiên nhiên huyền ảo quyến rũ, say đắm lòng người.
							</p>
							<img src="img/tuanchau.jpg">
						</div>
						
						<div>
							<h4>4. Đảo Cô Tô</h4>
							<p>
								Đảo Cô Tô được coi là điểm du lịch Quảng Ninh mê hoặc du khách bởi những bãi biển hoang sơ với bờ cát trắng cùng làn nước trong xanh. Ở đây có đảo Cô Tô lớn, đảo Cô Tô nhỏ, cùng với đảo Thanh Lâm, đảo Trần và vô số hòn đảo nhỏ khác… Ngoài tắm biển thì du khách còn có thể tham quan rừng tự nhiên, xem hải đăng, cầu cảng, làng đánh cá, hay đến các vịnh biển, bãi đá tự nhiên…
							</p>
							
							<img src="img/coto.jpg">
						</div>
						<div>
							<h4>5. Đảo Quan Lạn</h4>
							<p>
								Đảo Quan Lạn có vị trí thuộc vùng vịnh Bái Tử Long, đây là tuyến đảo nằm phía ngoài cùng của vịnh Bắc Bộ.
							</p>
							
							<img src="img/quanlan.jpg">
						</div>
					</article>
				
				<div class="related-topic">
					<h3>Các bài viết khác</h3>
					<div class="row">
						<div class="col-xs-3">
							<img src="img/hero_2.jpg">
							<a href="#">Tittle</a>
						</div>
						<div class="col-xs-3">
							<img src="img/hero_2.jpg">
							<a href="#">Tittle</a>
						</div>
						<div class="col-xs-3">
							<img src="img/hero_2.jpg">
							<a href="#">Tittle</a>
						</div>
						<div class="col-xs-3">
							<img src="img/hero_2.jpg">
							<a href="#">Tittle</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<img src="img/hero_2.jpg">
							<a href="#">Tittle</a>
						</div>
						<div class="col-xs-3">
							<img src="img/hero_2.jpg">
							<a href="#">Tittle</a>
						</div>
						<div class="col-xs-3">
							<img src="img/hero_2.jpg">
							<a href="#">Tittle</a>
						</div>
						<div class="col-xs-3">
							<img src="img/hero_2.jpg">
							<a href="#">Tittle</a>
						</div>
					</div>

				</div>
					

				</div>
				<div class="col-md-4" id="news">
					<h3>Tin tức</h3>
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-3">
								<a href="#"><img src="img/hero_3.jpg" alt=""></a>
							</div>
							<div class="col-xs-9"><a href="https://dulich.vnexpress.net/tin-tuc/quoc-te/tripadvisor-dot-ngot-xoa-cac-canh-cao-ve-cuong-buc-khi-du-lich-3665037.html"><strong>TripAdvisor đột ngột xóa các cảnh cáo về cưỡng bức khi du lịch</strong></a>
							</div>
							<div class="col-xs-3">
								<a href="#"><img src="img/hero_3.jpg" alt=""></a>
							</div>
							<div class="col-xs-9"><a href="https://dulich.vnexpress.net/tin-tuc/quoc-te/tripadvisor-dot-ngot-xoa-cac-canh-cao-ve-cuong-buc-khi-du-lich-3665037.html"><strong>TripAdvisor đột ngột xóa các cảnh cáo về cưỡng bức khi du lịch</strong></a>
							</div>
							<div class="col-xs-3">
								<a href="#"><img src="img/hero_3.jpg" alt=""></a>
							</div>
							<div class="col-xs-9"><a href="https://dulich.vnexpress.net/tin-tuc/quoc-te/tripadvisor-dot-ngot-xoa-cac-canh-cao-ve-cuong-buc-khi-du-lich-3665037.html"><strong>TripAdvisor đột ngột xóa các cảnh cáo về cưỡng bức khi du lịch</strong></a>
							</div>
							<div class="col-xs-3">
								<a href="#"><img src="img/hero_3.jpg" alt=""></a>
							</div>
							<div class="col-xs-9"><a href="https://dulich.vnexpress.net/tin-tuc/quoc-te/tripadvisor-dot-ngot-xoa-cac-canh-cao-ve-cuong-buc-khi-du-lich-3665037.html"><strong>TripAdvisor đột ngột xóa các cảnh cáo về cưỡng bức khi du lịch</strong></a>
							</div>
							<div class="col-xs-3">
								<a href="#"><img src="img/hero_3.jpg" alt=""></a>
							</div>
							<div class="col-xs-9"><a href="https://dulich.vnexpress.net/tin-tuc/quoc-te/tripadvisor-dot-ngot-xoa-cac-canh-cao-ve-cuong-buc-khi-du-lich-3665037.html"><strong>TripAdvisor đột ngột xóa các cảnh cáo về cưỡng bức khi du lịch</strong></a>
							</div>
							<div class="col-xs-3">
								<a href="#"><img src="img/hero_3.jpg" alt=""></a>
							</div>
							<div class="col-xs-9"><a href="https://dulich.vnexpress.net/tin-tuc/quoc-te/tripadvisor-dot-ngot-xoa-cac-canh-cao-ve-cuong-buc-khi-du-lich-3665037.html"><strong>TripAdvisor đột ngột xóa các cảnh cáo về cưỡng bức khi du lịch</strong></a>
							</div>
						</div>

						<button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-block" autocomplete="off">
							Xem thêm
						</button>
					</div>

				</div>
			</div>
		</div>
	</main>
	<div id="footer">
		<div class="row">
			<div class="col-sm-4">
				<ul class="nav nav-stacked">
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Giới thiệu</a></li>
					<li><a href="#">Liên Hệ</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js\jquery-3.2.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
